<!DOCTYPE html>
{% extends 'GamePlatformApp/base_navbar.html' %}
{% load static %}
{% block title %} Blackjack {% endblock %}

{% block content %}
<button id="hit">Hit</button>
<button id="stand">Stand</button>
<button id="double-down">Double down</button>
<button id="split">Split</button>
<button id="surrender">Surrender</button>
<p id="insurance-ask">Bet Insurance?</p>
<button id="insurance">Bet Insurance</button>
<button id="no-insurance">Don't</button>

<script src="{% static 'js/blackjack.js' %}"></script>
{% endblock %}