<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blackjack</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/blackjack.css' %}">

</head>
<body>
    <p>Twoje żetony: {{ chips }} </p>
    <button id="hit">Hit</button>
    <button id="stand">Stand</button>
    <button id="double-down">Double down</button>
    <button id="split">Split</button>
    <button id="surrender">Surrender</button>
    <p id="insurance-ask">Bet Insurance?</p>
    <button id="insurance">Bet Insurance</button>
    <button id="no-insurance">Don't</button>

    <script>
        const PLAYER_CHIPS = {{ chips }};
    </script>
    <script src="{% static 'js/blackjack.js' %}"></script>
</body>
</html>
