<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roulette</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/roulette2.css' %}">
</head>
<body>
<!-- generowanie ruletki z django -->
<div id="roulette-container">
    <div id="roulette-wheel">
        {% for field in wheel.fields.all %}
        <div class="roulette-field {{ field.color }}" data-id="{{ field.id }}" data-number="{{ field.num }}">
            {{ field.num }}
        </div>
        {% endfor %}
    </div>
</div>
<div id="bet-panel">
    <label>Bet Amount:</label>
    <input type="number" id="bet-amount" min="1" required>

    <button id="place-bet">Place Bet</button>
</div>

<script>
const placeBetBtn = document.getElementById("place-bet");

placeBetBtn.addEventListener("click", () => {
    const amount = document.getElementById("bet-amount").value;
    const betType = 1

    if (selectedFields.length === 0) {
        alert("Select at least one field");
        return;
    }

    if (!amount || amount <= 0) {
        alert("Invalid bet amount");
        return;
    }

    const formData = new FormData();
    selectedFields.forEach(f => formData.append("fields", f));
    formData.append("amount", amount);
    formData.append("bet_type", betType);
    formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");

    fetch("{% url 'roulette-bet' %}", {
        method: "POST",
        body: formData
    })
    .then(res => {
        if (!res.ok) {
            return res.json().then(data => { throw data; });
        }
        return res.text();
    })
    .then(() => {
        placeBetBtn.disabled = true;
        document.getElementById("spin").disabled = false;

    })
    .catch(err => {
        alert(err.error || "Bet failed");
    });
});
</script>


<button id="spin" disabled>Spin</button>
<p style="color:white">Chips: <span id="chips-count">{{ user.chips }}</span></p>
<script>
    <!-- zaznaczanie_pól -->
    const fields = document.querySelectorAll('.roulette-field');
    let selectedFields = [];
    fields.forEach(field => {
        field.addEventListener('click', () => {
            field.classList.toggle('selected');
            const number = field.dataset.id;
            if (selectedFields.includes(number)) {
                selectedFields = selectedFields.filter(n => n !== number);
            }
            else {
                selectedFields.push(number)
            }
        });
    });
    <!-- krecenie -->
    document.getElementById('spin').addEventListener('click', () => {
        fetch("{% url 'roulette-ajax' %}", {
            method: 'POST',
            headers:
                {
                    "X-CSRFToken": "{{ csrf_token }}",
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({})
        })
        .then(response => response.json())
        .then(data => {
        const winningFieldNumber = data.winning_number;
        const fieldsArr = [...document.querySelectorAll('.roulette-field')]
        let i = 0;
        let speed = 50;
        const loops = 3;
        const winningIndex = fieldsArr.findIndex(f => f.dataset.number == winningFieldNumber);
        const steps = loops * fieldsArr.length + winningIndex;

    function animatedSpinning() {
        fieldsArr.forEach(f => f.classList.remove('active'));
        const index = i % fieldsArr.length;
        fieldsArr[index].classList.add('active');
        i++;
        if (i <= steps) {
            let t = i / steps
            let delay = speed + Math.pow(t, 2) * 300;
            setTimeout(animatedSpinning, delay);
        }
        else {
            fieldsArr.forEach(f => f.classList.remove('active'));
            fieldsArr[winningIndex].classList.add('active')
            document.getElementById('chips-count').innerText = data.user_chips
        }
    }
    animatedSpinning();
    document.getElementById("chips-count").innerText = data.user_chips;
selectedFields = [];
document.querySelectorAll(".roulette-field").forEach(f =>
    f.classList.remove("selected")
);
document.getElementById("place-bet").disabled = false;
document.getElementById("spin").disabled = true;

    });
    });
</script>
</body>
</html>
