{% extends 'GamePlatformApp/base_navbar.html' %}
{% block title %}User list{% endblock %}
{% block content %}
<h1>User List</h1>
<style>
    img{
        border-radius: 50%;
        height: 30px;
        width: 30px;
    }
</style>
<table>
    <tr>
        <th>Picture</th>
        <th>Username</th>
        <th>Email</th>
        <th>Manage</th>
    </tr>
    {% for user in users %}
    <tr>
        <td><img src ="{{ user.profile_picture.url }}" alt = "{{ user.username }}"></img></td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>
            <a href="{% url 'user-edit' user.pk %}">Edit</a>
            <form action="{% url 'user-delete' user.pk %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<p><a href="{% url 'home' %}">Back</a></p>
{% endblock %}