<!DOCTYPE html>
{% extends 'GamePlatformApp/base_navbar.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}
{% if user.is_authenticated %}
<p>Hello, <a href="{% url 'user-profile' user.pk %}">{{ user.username }}</a>!</p>
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Log out</button>
</form>
{% else %}
<p><a href="{% url 'register' %}">Register</a>
    <a href="{% url 'login' %}">Log in</a>
</p>
{% endif %}

<p><a href="{% url 'user-list' %}">[TEMPORARY] Manage users</a></p>

<style>
    .logo img {
        border-radius: 0%;
        width: 400px;
        height: auto;
    }
</style>

<h1>Welcome to...</h1>
<div class="logo">
    <img src='{% static "logo.gif" %}'></img>
</div>

<p>Other Users</p>
<table>
    {% for u in users %}
    <tr>
        <td><img src="{{ u.profile_picture.url }}" alt="{{ u.username }}"></img></td>
        <td><a href="{% url 'user-profile' u.pk %}">{{ u.username }}</a></td>
    </tr>
    {% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<br><br>
{% endblock %}